/node_modules
/public/hot
/public/storage
public/css
public/lib/monllar
public/vendor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
storage/framework/.DS_Store
.history
public/media
public/.DS_Store
ajenos_a_laravel/webdriverio/allure-results
allure-report
.scannerwork