/* stylelint-disable selector-list-comma-newline-after */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');
/*** Logo ***/
.logo img{
  width: 100%;
}

.spacelogo{
  padding: 0;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.menu-principal {
  margin-bottom: 2.2rem;
}


/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/* ************ Buscador ************ */

#search{
  margin-right: 40px;
}

#productosBuscador{
  position:absolute;
  top: 120px;
  width:500px;
  right: 10%;
  color: #835B21;
  z-index: 1;
  font-family: 'Work Sans', sans-serif;

}
.searchProductBlock{
  background-color: white;

}
.searchProductBlock a{
  color: #000;
}

.searchProductBlock a:hover{
  color: cornflowerblue;
}
.searchProductImage{
  width: 40%;
  margin-top: 7px;
  margin-bottom: 7px;
  float: left;
  border-radius: 5%;
}
.searchProductImage:hover{
  transform: scale(1.1)
}


.searchProductName{
  width: 56%;
  float: left;
  padding-left: 40px;
  font-size: 15px;

}
.searchProductPrice{
  width: 56%;
  float: left;
  font-size: 15px;
  padding-left: 40px;
}